@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1a1a1d;
  color: white;
}

/* Width and height for scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle when hovered */
}

.checkmark:after {
  border-color: white;
  border-right-color: #3b82f6; /* Tailwind blue-500 */
  border-bottom-color: #3b82f6; /* Tailwind blue-500 */
}
